Repository mindhand-io/react-native-zhifu: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "eslint --fix"
  ],
  "*.md": [
    "prettier --write"
  ]
}

docs: 简易集成文档
  packages/alipay/README.md
  packages/wechatpay/README.md
Due: prettier --write

fix: 修复安卓微信回调不触发问题
  packages/app-example/android/app/src/main/AndroidManifest.xml
  packages/app-example/android/app/src/main/java/com/mindhand/rnzhifu/example/wxapi/WXPayEntryActivity.java
  packages/wechatpay/README.md
  packages/wechatpay/android/build.gradle
  packages/wechatpay/android/src/main/java/com/mindhand/rnzhifu/wechatpay/RnZhifuWechatPayModule.java
  packages/wechatpay/android/src/main/java/com/mindhand/rnzhifu/wechatpay/WXPayEntryActivity.java
Due: prettier --write

chore: 发布到公共 npm registry
  lerna.json
Due: none

chore(release): bump versions
  packages/alipay/CHANGELOG.md
  packages/alipay/package.json
  packages/app-example/CHANGELOG.md
  packages/app-example/package.json
  packages/wechatpay/CHANGELOG.md
  packages/wechatpay/package.json
Due: prettier --write

chore: 调整 {git,npm}ignore 范围
  packages/alipay/.gitignore
  packages/alipay/.npmignore
  packages/wechatpay/.npmignore
Due: none

chore: 调整 npmignore
  .npmignore
  packages/wechatpay/.npmignore
Due: none

chore: 尝试调整 npmignore
  packages/alipay/.npmignore
  packages/wechatpay/.npmignore
Due: none

fix: 修复 npmignore
  packages/alipay/.npmignore
  packages/alipay/package.json
  packages/wechatpay/.npmignore
  packages/wechatpay/package.json
Due: none

chore: 这次是真的修复了 npmignore 了
  packages/alipay/.npmignore
  packages/wechatpay/.npmignore
Due: none

feat: 支持支付宝沙盒模式
  packages/alipay/android/src/main/java/com/mindhand/rnzhifu/alipay/RnZhifuAlipayModule.java
  packages/alipay/index.d.ts
  packages/app-example/metro.config.js
  packages/app-example/src/App.tsx
  packages/wechatpay/index.d.ts
Due: eslint --fix

chore(deps): update dependency @types/react-native to ^0.63.0
  package.json
  yarn.lock
Due: none

chore: 修复一个 ts 定义
  packages/alipay/index.d.ts
  packages/wechatpay/README.md
Due: eslint --fix, prettier --write

fix: 修复微信支付安卓上无法拉起回调问题
  packages/wechatpay/README.md
  packages/wechatpay/android/build.gradle
  packages/wechatpay/android/proguard-rules.pro
  packages/wechatpay/android/src/main/java/com/mindhand/rnzhifu/wechatpay/WXPayEntryActivity.java
  packages/wechatpay/package.json
Due: prettier --write

fix: 修复上个 commit 代码错乱导致微信支付完全不可用
  packages/wechatpay/android/src/main/java/com/mindhand/rnzhifu/wechatpay/RnZhifuWechatPayModule.java
  packages/wechatpay/android/src/main/java/com/mindhand/rnzhifu/wechatpay/WXPayEntryActivity.java
Due: none

chore(release): bump versions
  packages/app-example/CHANGELOG.md
  packages/app-example/package.json
  packages/wechatpay/CHANGELOG.md
  packages/wechatpay/package.json
Due: prettier --write

chore(release): bump versions
  packages/alipay/CHANGELOG.md
  packages/alipay/package.json
  packages/app-example/CHANGELOG.md
  packages/app-example/package.json
Due: prettier --write

docs: 补充微信支付接入文档
  packages/wechatpay/README.md
Due: prettier --write
